## Stops data, Washington, D.C.

The data represents all MPD: 
* (1) incident reports classified as “stop and frisk” from 2010 to 2017 (S&F Incident Report Tab); and 
* (2) field contact reports from 2012 to 2017 classified as “vehicle stop”, “pedestrian stop”, or “bicycle stop” (Field Contact (Stop Data) Tab).

According to MPD, a “stop” is a temporary detention of a person for the purpose of determining
whether probable cause exists to arrest a person. A “frisk” is a limited protective
search on a person to determine the presence of concealed weapons and/or
dangerous instruments.

* [Data](https://mpdc.dc.gov/publication/stop-data-and-explanatory-notes)
* [Explanatory notes](https://mpdc.dc.gov/sites/default/files/dc/sites/mpdc/publication/attachments/StopData_Explanatory%20Notes_05252018.pdf)

### Methods for Assessing Racially Based Policing 

* EXTERNAL BENCHMARKS
    * Observation benchmarks
    * Arrest and crime suspect benchmarks
    * Instrumental variables 
* INTERNAL BENCHMARKING
* POST-STOP OUTCOMES  
    * Auditing police-citizen interactions 
    * Hit rates
    * Analysis of other stop outcomes

https://www.rand.org/pubs/reprints/RP1427.html

### Import libraries

In [2]:
import pandas as pd

### Read the csv

In [3]:
# read the data with pandas
df_dc = pd.read_csv("data/stop_frisk_incident_report_dc.csv", sep=',')

In [4]:
df_dc.head()

,Incident_Type,city,state,Report_taken_date_EST,Year,Data Type,Subject_Race,Subject_Sex,Subject_Ethnicity,Block Address,Incident Location District,Incident Location PSA,Age
0,Stop & Frisk,"Washington, D.C.",DC,1/1/10 4:56,2010,Person,Unknown,Male,Not Hispanic Or Latino,U ST NW,3D,305.0,28
1,Stop & Frisk,"Washington, D.C.",DC,1/1/10 8:44,2010,Person,White,Female,Not Hispanic Or Latino,3000 B/O CLEVELAND AVE NW,2D,204.0,62
2,Stop & Frisk,"Washington, D.C.",DC,1/1/10 17:30,2010,Person,Black,Male,Not Hispanic Or Latino,4200 B/O 7TH ST SE,7D,706.0,Juvenile
3,Stop & Frisk,"Washington, D.C.",DC,1/1/10 18:45,2010,Person,Black,Male,Not Hispanic Or Latino,0 B/O ST NW,1D,101.0,Juvenile
4,Stop & Frisk,"Washington, D.C.",DC,1/2/10 1:59,2010,Person,Black,Male,Not Hispanic Or Latino,1400 B/O RHODE ISLAND AVE NW,2D,208.0,42

lower case column headers

In [5]:
# https://stackoverflow.com/questions/19726029/how-can-i-make-pandas-dataframe-column-headers-all-lowercase
df_dc.columns = [x.lower() for x in df_dc.columns]

In [6]:
df_dc.head()

,incident_type,city,state,report_taken_date_est,year,data type,subject_race,subject_sex,subject_ethnicity,block address,incident location district,incident location psa,age
0,Stop & Frisk,"Washington, D.C.",DC,1/1/10 4:56,2010,Person,Unknown,Male,Not Hispanic Or Latino,U ST NW,3D,305.0,28
1,Stop & Frisk,"Washington, D.C.",DC,1/1/10 8:44,2010,Person,White,Female,Not Hispanic Or Latino,3000 B/O CLEVELAND AVE NW,2D,204.0,62
2,Stop & Frisk,"Washington, D.C.",DC,1/1/10 17:30,2010,Person,Black,Male,Not Hispanic Or Latino,4200 B/O 7TH ST SE,7D,706.0,Juvenile
3,Stop & Frisk,"Washington, D.C.",DC,1/1/10 18:45,2010,Person,Black,Male,Not Hispanic Or Latino,0 B/O ST NW,1D,101.0,Juvenile
4,Stop & Frisk,"Washington, D.C.",DC,1/2/10 1:59,2010,Person,Black,Male,Not Hispanic Or Latino,1400 B/O RHODE ISLAND AVE NW,2D,208.0,42

In [7]:
# rename
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html
df_dc = df_dc.rename(index=str, columns={"report_taken_date_est": "date_time", 
                                         "block address": "block_address", 
                                         "incident location district": "district", 
                                         "incident location psa": "psa",
                                         "subject_sex": "gender"})

In [8]:
df_dc.to_csv("data/00-dc-data.csv", index=False)

In [9]:
df_dc.head()

,incident_type,city,state,date_time,year,data type,subject_race,gender,subject_ethnicity,block_address,district,psa,age
0,Stop & Frisk,"Washington, D.C.",DC,1/1/10 4:56,2010,Person,Unknown,Male,Not Hispanic Or Latino,U ST NW,3D,305.0,28
1,Stop & Frisk,"Washington, D.C.",DC,1/1/10 8:44,2010,Person,White,Female,Not Hispanic Or Latino,3000 B/O CLEVELAND AVE NW,2D,204.0,62
2,Stop & Frisk,"Washington, D.C.",DC,1/1/10 17:30,2010,Person,Black,Male,Not Hispanic Or Latino,4200 B/O 7TH ST SE,7D,706.0,Juvenile
3,Stop & Frisk,"Washington, D.C.",DC,1/1/10 18:45,2010,Person,Black,Male,Not Hispanic Or Latino,0 B/O ST NW,1D,101.0,Juvenile
4,Stop & Frisk,"Washington, D.C.",DC,1/2/10 1:59,2010,Person,Black,Male,Not Hispanic Or Latino,1400 B/O RHODE ISLAND AVE NW,2D,208.0,42

In [10]:
df_dc[['date', 'time']] = df_dc.date_time.str.split(' ', expand = True)
df_dc

,incident_type,city,state,date_time,year,data type,subject_race,gender,subject_ethnicity,block_address,district,psa,age,date,time
0,Stop & Frisk,"Washington, D.C.",DC,1/1/10 4:56,2010,Person,Unknown,Male,Not Hispanic Or Latino,U ST NW,3D,305.0,28,1/1/10,4:56
1,Stop & Frisk,"Washington, D.C.",DC,1/1/10 8:44,2010,Person,White,Female,Not Hispanic Or Latino,3000 B/O CLEVELAND AVE NW,2D,204.0,62,1/1/10,8:44
2,Stop & Frisk,"Washington, D.C.",DC,1/1/10 17:30,2010,Person,Black,Male,Not Hispanic Or Latino,4200 B/O 7TH ST SE,7D,706.0,Juvenile,1/1/10,17:30
3,Stop & Frisk,"Washington, D.C.",DC,1/1/10 18:45,2010,Person,Black,Male,Not Hispanic Or Latino,0 B/O ST NW,1D,101.0,Juvenile,1/1/10,18:45
4,Stop & Frisk,"Washington, D.C.",DC,1/2/10 1:59,2010,Person,Black,Male,Not Hispanic Or Latino,1400 B/O RHODE ISLAND AVE NW,2D,208.0,42,1/2/10,1:59
5,Stop & Frisk,"Washington, D.C.",DC,1/2/10 2:30,2010,Person,Black,Male,Not Hispanic Or Latino,PENNSYLVANIA AVE SE,1D,107.0,26,1/2/10,2:30
6,Stop & Frisk,"Washington, D.C.",DC,1/2/10 3:29,2010,Person,Black,Male,Not Hispanic Or Latino,PATTERSON ST NE,1D,101.0,26,1/2/10,3:29
7,Stop & Frisk,"Washington, D.C.",DC,1/2/10 16:41,2010,Person,Black,Male,Not Hispanic Or Latino,3800 B/O MINNESOTA AVE NE,6D,603.0,Juvenile,1/2/10,16:41
8,Stop & Frisk,"Washington, D.C.",DC,1/2/10 18:20,2010,Person,Black,Male,Not Hispanic Or Latino,4000 B/O SOUTH CAPITOL TER SW,7D,706.0,25,1/2/10,18:20
9,Stop & Frisk,"Washington, D.C.",DC,1/2/10 18:40,2010,Person,Black,Male,Not Hispanic Or Latino,1100 B/O SHERIFF RD NE,6D,602.0,19,1/2/10,18:40
10,Stop & Frisk,"Washington, D.C.",DC,1/2/10 20:30,2010,Person,Black,Male,Not Hispanic Or Latino,2500 B/O 18TH ST NW,3D,303.0,19,1/2/10,20:30
11,Stop & Frisk,"Washington, D.C.",DC,1/2/10 20:30,2010,Person,Black,Male,Not Hispanic Or Latino,2500 B/O 18TH ST NW,3D,303.0,Juvenile,1/2/10,20:30
12,Stop & Frisk,"Washington, D.C.",DC,1/3/10 3:24,2010,Person,Black,Male,Not Hispanic Or Latino,COLUMBIA RD,4D,303.0,NaN,1/3/10,3:24
13,Stop & Frisk,"Washington, D.C.",DC,1/3/10 3:24,2010,Person,Black,Male,Not Hispanic Or Latino,COLUMBIA RD,4D,303.0,26,1/3/10,3:24
14,Stop & Frisk,"Washington, D.C.",DC,1/3/10 3:24,2010,Person,Black,Male,Not Hispanic Or Latino,COLUMBIA RD,4D,303.0,23,1/3/10,3:24
15,Stop & Frisk,"Washington, D.C.",DC,1/3/10 5:44,2010,NaN,NaN,NaN,NaN,2400 B/O 11TH ST NW,3D,304.0,NaN,1/3/10,5:44
16,Stop & Frisk,"Washington, D.C.",DC,1/3/10 20:51,2010,Person,Black,Male,Unknown,700 B/O 12TH ST SE,1D,106.0,30,1/3/10,20:51
17,Stop & Frisk,"Washington, D.C.",DC,1/4/10 21:00,2010,Person,Black,Male,Not Hispanic Or Latino,500 B/O RIGGS RD NE,4D,406.0,40,1/4/10,21:00
18,Stop & Frisk,"Washington, D.C.",DC,1/4/10 21:00,2010,Person,Black,Male,Not Hispanic Or Latino,500 B/O RIGGS RD NE,4D,406.0,18,1/4/10,21:00
19,Stop & Frisk,"Washington, D.C.",DC,1/5/10 10:30,2010,Person,Black,Male,Unknown,2200 B/O SAVANNAH ST SE,7D,704.0,19,1/5/10,10:30
20,Stop & Frisk,"Washington, D.C.",DC,1/5/10 16:21,2010,Person,Black,Male,Not Hispanic Or Latino,400 B/O RHODE ISLAND AVE NE,5D,502.0,40,1/5/10,16:21
21,Stop & Frisk,"Washington, D.C.",DC,1/5/10 19:05,2010,Person,Black,Male,Unknown,STREET TUNNEL SOUTH BOUND,1D,103.0,22,1/5/10,19:05
22,Stop & Frisk,"Washington, D.C.",DC,1/5/10 19:30,2010,Person,Black,Male,Not Hispanic Or Latino,1200 B/O U ST NW,3D,305.0,55,1/5/10,19:30
23,Stop & Frisk,"Washington, D.C.",DC,1/5/10 19:30,2010,NaN,NaN,NaN,NaN,4300 B/O F ST SE,6D,605.0,NaN,1/5/10,19:30
24,Stop & Frisk,"Washington, D.C.",DC,1/5/10 21:54,2010,Person,Black,Male,Not Hispanic Or Latino,4200 B/O 6 ST SE,1D,706.0,Juvenile,1/5/10,21:54
25,Stop & Frisk,"Washington, D.C.",DC,1/5/10 21:54,2010,Person,Black,Male,Not Hispanic Or Latino,4200 B/O 6 ST SE,1D,706.0,Juvenile,1/5/10,21:54
26,Stop & Frisk,"Washington, D.C.",DC,1/6/10 2:44,2010,Person,Black,Male,Not Hispanic Or Latino,46TH ST NE / CENTRAL AVE NE,6D,608.0,Juvenile,1/6/10,2:44
27,Stop & Frisk,"Washington, D.C.",DC,1/6/10 2:44,2010,Person,Black,Male,Not Hispanic Or Latino,46TH ST NE / CENTRAL AVE NE,6D,608.0,19,1/6/10,2:44
28,Stop & Frisk,"Washington, D.C.",DC,1/6/10 12:00,2010,NaN,NaN,NaN,NaN,13TH / NEW YORK AVE NW,1D,107.0,NaN,1/6/10,12:00
29,Stop & Frisk,"Washington, D.C.",DC,1/6/10 15:49,2010,NaN,NaN,NaN,NaN,4300 B/O POLK ST NE,6D,601.0,NaN,1/6/10,15:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27529,Stop & Frisk,"Washington, D.C.",DC,12/28/17 20:23,2017,Person,Black,Male,Not Hispanic Or Latino,600 BLOCK OF KENNEDY STREET NW,4D,403.0,28,12/28/17,20:23
27530,Stop & Frisk,"Washington, D.C.",DC,12/28/17 20:36,2017,Person,Black,Male,Unknown,200 BLOCK OF M STREET SW,1D,105.0,Juvenile,12/28/17,20:36
27531,Stop & Frisk,"Washington, D.C.",DC,12/28/17 20:39,2017,Person,Black,Male,Not Hispanic Or Latino,3500 BLOCK OF 22ND STREET SE,7D,704.0,Juvenile,12/28/17,20:39
27532,Stop & Frisk,"Washington, D.C.",DC,12/29/17 15:50,2017,Person,Black,Male,Not Hispanic Or Latino,300 BLOCK OF 13TH STREET SE,1D,107.0,36,12/29/17,15:50
27533,Stop & Frisk,"Washington, D.C.",DC,12/29/17 17:33,2017,Person,Black,Male,Not Hispanic Or Latino,1200 BLOCK OF HOWISON PLACE SW,1D,105.0,20,12/29/17,17:33
27534,Stop & Frisk,"Washington, D.C.",DC,12/29/17 18:24,2017,Person,Black,Male,Not Hispanic Or Latino,2500 BLOCK OF POMEROY ROAD SE,7D,703.0,19,12/29/17,18:24
27535,Stop & Frisk,"Washington, D.C.",DC,12/29/17 18:24,2017,Person,Black,Male,Not Hispanic Or Latino,2500 BLOCK OF POMEROY ROAD SE,7D,703.0,Juvenile,12/29/17,18:24
27536,Stop & Frisk,"Washington, D.C.",DC,12/29/17 18:24,2017,Person,Black,Male,Not Hispanic Or Latino,2500 BLOCK OF POMEROY ROAD SE,7D,703.0,Juvenile,12/29/17,18:24
27537,Stop & Frisk,"Washington, D.C.",DC,12/29/17 18:24,2017,Person,Black,Male,Not Hispanic Or Latino,2500 BLOCK OF POMEROY ROAD SE,7D,703.0,Juvenile,12/29/17,18:24
27538,Stop & Frisk,"Washington, D.C.",DC,12/29/17 19:23,2017,Person,Black,Male,Unknown,1500 BLOCK OF U STREET SE,7D,701.0,30,12/29/17,19:23
27539,Stop & Frisk,"Washington, D.C.",DC,12/30/17 2:46,2017,Person,Black,Male,Unknown,700 BLOCK OF H STREET NE,1D,104.0,27,12/30/17,2:46
27540,Stop & Frisk,"Washington, D.C.",DC,12/30/17 16:36,2017,Person,Black,Male,Not Hispanic Or Latino,1000 BLOCK OF QUEBEC PLACE NW,4D,404.0,Juvenile,12/30/17,16:36
27541,Stop & Frisk,"Washington, D.C.",DC,12/30/17 18:02,2017,Person,Black,Male,Not Hispanic Or Latino,2400 BLOCK OF 14TH STREET NW,3D,304.0,22,12/30/17,18:02
27542,Stop & Frisk,"Washington, D.C.",DC,12/30/17 19:11,2017,Person,Black,Male,Unknown,5200 BLOCK OF GEORGIA AVENUE NW,4D,403.0,34,12/30/17,19:11
27543,Stop & Frisk,"Washington, D.C.",DC,12/30/17 19:11,2017,Person,Black,Male,Not Hispanic Or Latino,5200 BLOCK OF GEORGIA AVENUE NW,4D,403.0,41,12/30/17,19:11
27544,Stop & Frisk,"Washington, D.C.",DC,12/30/17 20:40,2017,Person,Black,Male,Not Hispanic Or Latino,3300 BLOCK OF 10TH PLACE SE,7D,705.0,Juvenile,12/30/17,20:40
27545,Stop & Frisk,"Washington, D.C.",DC,12/30/17 20:40,2017,Person,Black,Male,Not Hispanic Or Latino,3300 BLOCK OF 10TH PLACE SE,7D,705.0,Juvenile,12/30/17,20:40
27546,Stop & Frisk,"Washington, D.C.",DC,12/30/17 21:02,2017,Person,White,Male,Hispanic Or Latino,1100 BLOCK OF WEST VIRGINIA AVENUE NE,5D,506.0,22,12/30/17,21:02
27547,Stop & Frisk,"Washington, D.C.",DC,12/30/17 21:49,2017,Person,Black,Male,Unknown,1300 BLOCK OF BRYANT STREET NE,5D,505.0,29,12/30/17,21:49
27548,Stop & Frisk,"Washington, D.C.",DC,12/30/17 23:02,2017,Person,Black,Male,Unknown,600 BLOCK OF 55TH STREET NE,6D,608.0,29,12/30/17,23:02
27549,Stop & Frisk,"Washington, D.C.",DC,12/31/17 0:23,2017,Person,Black,Male,Not Hispanic Or Latino,4700 BLOCK OF SOUTH CAPITOL STREET SE,7D,708.0,Juvenile,12/31/17,0:23
27550,Stop & Frisk,"Washington, D.C.",DC,12/31/17 0:36,2017,Person,Black,Male,Unknown,1300 BLOCK OF FLORIDA AVENUE NE,5D,506.0,54,12/31/17,0:36
27551,Stop & Frisk,"Washington, D.C.",DC,12/31/17 6:21,2017,Person,Black,Male,Not Hispanic Or Latino,1100 BLOCK OF CONNECTICUT AVENUE NW,2D,207.0,19,12/31/17,6:21
27552,Stop & Frisk,"Washington, D.C.",DC,12/31/17 11:01,2017,Person,Black,Male,Not Hispanic Or Latino,1300 BLOCK OF NORTH CAROLINA AVENUE NE,1D,107.0,33,12/31/17,11:01
27553,Stop & Frisk,"Washington, D.C.",DC,12/31/17 16:01,2017,Person,Black,Male,Not Hispanic Or Latino,2500 BLOCK OF 10TH STREET NE,5D,504.0,23,12/31/17,16:01
27554,Stop & Frisk,"Washington, D.C.",DC,12/31/17 16:01,2017,Person,Black,Male,Not Hispanic Or Latino,2500 BLOCK OF 10TH STREET NE,5D,504.0,34,12/31/17,16:01
27555,Stop & Frisk,"Washington, D.C.",DC,12/31/17 20:11,2017,Person,Black,Male,Not Hispanic Or Latino,3100 BLOCK OF 24TH STREET SE,7D,708.0,20,12/31/17,20:11
27556,Stop & Frisk,"Washington, D.C.",DC,12/31/17 20:19,2017,Person,Black,Female,Not Hispanic Or Latino,1300 BLOCK OF BRYANT STREET NE,5D,505.0,32,12/31/17,20:19
27557,Stop & Frisk,"Washington, D.C.",DC,12/31/17 21:09,2017,Person,Unknown,Male,Hispanic Or Latino,1200 BLOCK OF CONNECTICUT AVENUE NW,2D,208.0,22,12/31/17,21:09
27558,Stop & Frisk,"Washington, D.C.",DC,12/31/17 21:22,2017,Person,Black,Male,Not Hispanic Or Latino,1500 BLOCK OF CONNECTICUT AVENUE NW,2D,208.0,55,12/31/17,21:22

In [11]:
df_dc.groupby(['subject_race']).count()

,incident_type,city,state,date_time,year,data type,gender,subject_ethnicity,block_address,district,psa,age,date,time
subject_race,,,,,,,,,,,,,,
American Indian Or Alaska Native,13,13,13,13,13,13,13,13,13,13,13,11,13,13
Asian,97,97,97,97,97,97,97,97,97,96,96,91,97,97
Black,22589,22589,22589,22589,22589,22589,22589,22589,22580,22336,22300,21680,22589,22589
Native Hawaiian Or Other Pacific Islander,11,11,11,11,11,11,11,11,11,11,11,10,11,11
Unknown,2687,2687,2687,2687,2687,2687,2687,2687,2685,2645,2636,1313,2687,2687
White,1656,1656,1656,1656,1656,1656,1656,1656,1655,1635,1635,1557,1656,1656

In [12]:
df_dc.groupby(['subject_race']).size()
# better than .count()

subject_race
American Indian Or Alaska Native                13
Asian                                           97
Black                                        22589
Native Hawaiian Or Other Pacific Islander       11
Unknown                                       2687
White                                         1656
dtype: int64

In [13]:
df_dc.groupby(['year']).size()

year
2010    2990
2011    3375
2012    3202
2013    3339
2014    3480
2015    3197
2016    3742
2017    4234
dtype: int64

In [8]:
df_dc.groupby(['year', 'subject_race']).size()
# better than .count()

year  subject_race
2010  American Indian Or Alaska Native                1
      Asian                                          16
      Black                                        2418
      Unknown                                       380
      White                                         130
2011  American Indian Or Alaska Native                1
      Asian                                          10
      Black                                        2683
      Unknown                                       473
      White                                         145
2012  American Indian Or Alaska Native                6
      Asian                                           7
      Black                                        2566
      Unknown                                       395
      White                                         165
2013  Asian                                           8
      Black                                        2770
      Unknown                                       339
      White                                         168
2014  Asian                                          13
      Black                                        2871
      Unknown                                       364
      White                                         179
2015  American Indian Or Alaska Native                2
      Asian                                           9
      Black                                        2647
      Unknown                                       324
      White                                         147
2016  American Indian Or Alaska Native                2
      Asian                                          17
      Black                                        3092
      Native Hawaiian Or Other Pacific Islander       3
      Unknown                                       211
      White                                         325
2017  American Indian Or Alaska Native                1
      Asian                                          17
      Black                                        3542
      Native Hawaiian Or Other Pacific Islander       8
      Unknown                                       201
      White                                         397
dtype: int64

In [9]:
df_dc.groupby(['year', 'subject_ethnicity']).size()
# better than .count()

year  subject_ethnicity
2010  Hispanic Or Latino         118
      Not Hispanic Or Latino    2358
      Unknown                    469
2011  Hispanic Or Latino         131
      Not Hispanic Or Latino    2574
      Unknown                    607
2012  Hispanic Or Latino         138
      Not Hispanic Or Latino    2246
      Unknown                    755
2013  Hispanic Or Latino         141
      Not Hispanic Or Latino    2062
      Unknown                   1082
2014  Hispanic Or Latino         162
      Not Hispanic Or Latino    2102
      Unknown                   1163
2015  Hispanic Or Latino         141
      Not Hispanic Or Latino    1734
      Unknown                   1254
2016  Hispanic Or Latino         263
      Not Hispanic Or Latino    2090
      Unknown                   1297
2017  Hispanic Or Latino         330
      Not Hispanic Or Latino    2405
      Unknown                   1431
dtype: int64

In [164]:
df_dc.groupby(['subject_ethnicity']).size()

subject_ethnicity
Hispanic Or Latino         1424
Not Hispanic Or Latino    17571
Unknown                    8058
dtype: int64

In [166]:
df_dc.groupby(['year', 'subject_ethnicity']).size()
# better than .count()

year  subject_ethnicity
2010  Hispanic Or Latino         118
      Not Hispanic Or Latino    2358
      Unknown                    469
2011  Hispanic Or Latino         131
      Not Hispanic Or Latino    2574
      Unknown                    607
2012  Hispanic Or Latino         138
      Not Hispanic Or Latino    2246
      Unknown                    755
2013  Hispanic Or Latino         141
      Not Hispanic Or Latino    2062
      Unknown                   1082
2014  Hispanic Or Latino         162
      Not Hispanic Or Latino    2102
      Unknown                   1163
2015  Hispanic Or Latino         141
      Not Hispanic Or Latino    1734
      Unknown                   1254
2016  Hispanic Or Latino         263
      Not Hispanic Or Latino    2090
      Unknown                   1297
2017  Hispanic Or Latino         330
      Not Hispanic Or Latino    2405
      Unknown                   1431
dtype: int64

## Import plotly

In [30]:
import plotly.plotly as py
import plotly
import plotly.graph_objs as go
from plotly.plotly import sign_in
sign_in("abr","kBtLWWIywewX7MyUd0tU")

In [151]:
df_dc_by_day = df_dc.groupby(['date','subject_race']).size().unstack('subject_race', fill_value=0).reset_index()
df_dc_by_day.head()

subject_race,date,American Indian Or Alaska Native,Asian,Black,Native Hawaiian Or Other Pacific Islander,Unknown,White
0,1/1/10,0,0,2,0,1,1
1,1/1/11,0,0,9,0,0,1
2,1/1/12,1,0,18,0,2,0
3,1/1/13,0,0,9,0,0,1
4,1/1/14,0,0,14,0,3,3

In [154]:
dc_evolution_over_time = [
    go.Scatter(
        x=df_dc_by_day['date'], # assign x as the dataframe column 'x'
        y=df_dc_by_day['Black']
    )
]
# IPython notebook
# py.iplot(data, filename='pandas/basic-line-plot')

py.iplot(dc_evolution_over_time, filename='dc-evolution-over-time')

In [72]:
data = [go.Histogram(x=df_dc['age'])]

py.iplot(data, filename='age-distribution')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~abr/0 or inside your plot.ly account where it is named 'age-distribution'

In [87]:
df_dc2 = pd.DataFrame(df_dc, columns=["subject_race", "year"])
df_dc2.groupby(['year']).count()
df_dc2.head()

  subject_race  year
0      Unknown  2010
1        White  2010
2        Black  2010
3        Black  2010
4        Black  2010

In [146]:
# reset_index()
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html

# Pivot Tables or Group By for Pandas?
# https://stackoverflow.com/questions/30679467/pivot-tables-or-group-by-for-pandas

df_dc_pivot = df_dc.groupby(['year','subject_race']).size().unstack('subject_race', fill_value=0).reset_index()
df_dc_pivot

subject_race,year,American Indian Or Alaska Native,Asian,Black,Native Hawaiian Or Other Pacific Islander,Unknown,White
0,2010,1,16,2418,0,380,130
1,2011,1,10,2683,0,473,145
2,2012,6,7,2566,0,395,165
3,2013,0,8,2770,0,339,168
4,2014,0,13,2871,0,364,179
5,2015,2,9,2647,0,324,147
6,2016,2,17,3092,3,211,325
7,2017,1,17,3542,8,201,397

In [116]:
%%sh
pip3 install cufflinks

Collecting cufflinks
  Downloading https://files.pythonhosted.org/packages/ce/73/1d538bc22e0ec65cbd74c1c1ccbcecc793941dada123125eee984362aa7a/cufflinks-0.14.6.tar.gz (64kB)
Requirement already satisfied: numpy>=1.9.2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (1.15.2)
Requirement already satisfied: pandas>=0.19.2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (0.23.4)
Requirement already satisfied: plotly>=3.0.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (3.5.0)
Requirement already satisfied: six>=1.9.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (1.11.0)
Collecting colorlover>=0.2.1 (from cufflinks)
  Downloading https://files.pythonhosted.org/packages/9a/53/f696e4480b1d1de3b1523991dea71cf417c8b19fe70c704da164f3f90972/colorlover-0.3.0-py3-none-any.whl
Requirement already satisfied: setuptools>=34.4.1 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (39.0.1)
Requirement already satisfied: ipython>=5.3.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (6.4.0)
Requirement already satisfied: nose==1.3.7 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (1.3.7)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cufflinks) (7.2.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from pandas>=0.19.2->cufflinks) (2.7.3)
Requirement already satisfied: pytz>=2011k in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from pandas>=0.19.2->cufflinks) (2018.4)
Requirement already satisfied: retrying>=1.3.3 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from plotly>=3.0.0->cufflinks) (1.3.3)
Requirement already satisfied: decorator>=4.0.6 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from plotly>=3.0.0->cufflinks) (4.3.0)
Requirement already satisfied: requests in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from plotly>=3.0.0->cufflinks) (2.18.4)
Requirement already satisfied: nbformat>=4.2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from plotly>=3.0.0->cufflinks) (4.4.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (1.0.15)
Requirement already satisfied: jedi>=0.10 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (0.12.0)
Requirement already satisfied: traitlets>=4.2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (4.3.2)
Requirement already satisfied: pygments in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (2.2.0)
Requirement already satisfied: backcall in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (0.1.0)
Requirement already satisfied: pickleshare in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (0.7.4)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (4.5.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (0.1.0)
Requirement already satisfied: simplegeneric>0.8 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipython>=5.3.0->cufflinks) (0.8.1)
Requirement already satisfied: widgetsnbextension~=3.2.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipywidgets>=7.0.0->cufflinks) (3.2.1)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipywidgets>=7.0.0->cufflinks) (4.8.2)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from requests->plotly>=3.0.0->cufflinks) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from requests->plotly>=3.0.0->cufflinks) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from requests->plotly>=3.0.0->cufflinks) (2018.4.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from requests->plotly>=3.0.0->cufflinks) (3.0.4)
Requirement already satisfied: ipython-genutils in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=3.0.0->cufflinks) (0.2.0)
Requirement already satisfied: jupyter-core in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=3.0.0->cufflinks) (4.4.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbformat>=4.2->plotly>=3.0.0->cufflinks) (2.6.0)
Requirement already satisfied: wcwidth in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=5.3.0->cufflinks) (0.1.7)
Requirement already satisfied: parso>=0.2.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from jedi>=0.10->ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->cufflinks) (0.5.2)
Requirement already satisfied: notebook>=4.4.1 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (5.5.0)
Requirement already satisfied: jupyter-client in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (5.2.3)
Requirement already satisfied: tornado>=4.0 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (5.0.2)
Requirement already satisfied: Send2Trash in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (0.8.1)
Requirement already satisfied: pyzmq>=17 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (17.0.0)
Requirement already satisfied: jinja2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (2.10)
Requirement already satisfied: nbconvert in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (5.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (1.4.2)
Requirement already satisfied: mistune>=0.7.4 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (0.8.3)
Requirement already satisfied: bleach in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (2.1.3)
Requirement already satisfied: testpath in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (0.3.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (0.2.3)
Requirement already satisfied: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (1.0.1)
Requirement already satisfied: webencodings in /Users/abr/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Installing collected packages: colorlover, cufflinks
  Running setup.py install for cufflinks: started
    Running setup.py install for cufflinks: finished with status 'done'
Successfully installed colorlover-0.3.0 cufflinks-0.14.6

You are using pip version 18.1, however version 19.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [147]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd

cf.set_config_file(offline=False, world_readable=True, theme='ggplot')

df_dc_pivot.iplot(x='year' ,kind='scatter')

In [112]:
df_dc.groupby([df_dc['subject_race'], df_dc['year']]).agg({'count'})

                                               incident_type  city state  \
                                                       count count count
subject_race                              year
American Indian Or Alaska Native          2010             1     1     1
                                          2011             1     1     1
                                          2012             6     6     6
                                          2015             2     2     2
                                          2016             2     2     2
                                          2017             1     1     1
Asian                                     2010            16    16    16
                                          2011            10    10    10
                                          2012             7     7     7
                                          2013             8     8     8
                                          2014            13    13    13
                                          2015             9     9     9
                                          2016            17    17    17
                                          2017            17    17    17
Black                                     2010          2418  2418  2418
                                          2011          2683  2683  2683
                                          2012          2566  2566  2566
                                          2013          2770  2770  2770
                                          2014          2871  2871  2871
                                          2015          2647  2647  2647
                                          2016          3092  3092  3092
                                          2017          3542  3542  3542
Native Hawaiian Or Other Pacific Islander 2016             3     3     3
                                          2017             8     8     8
Unknown                                   2010           380   380   380
                                          2011           473   473   473
                                          2012           395   395   395
                                          2013           339   339   339
                                          2014           364   364   364
                                          2015           324   324   324
                                          2016           211   211   211
                                          2017           201   201   201
White                                     2010           130   130   130
                                          2011           145   145   145
                                          2012           165   165   165
                                          2013           168   168   168
                                          2014           179   179   179
                                          2015           147   147   147
                                          2016           325   325   325
                                          2017           397   397   397

                                               date_time data type  \
                                                   count     count
subject_race                              year
American Indian Or Alaska Native          2010         1         1
                                          2011         1         1
                                          2012         6         6
                                          2015         2         2
                                          2016         2         2
                                          2017         1         1
Asian                                     2010        16        16
                                          2011        10        10
                                          2012         7         7
                                          2013         8         8
                                          2014        13        13
                                          2015         9         9
                                          2016        17        17
                                          2017        17        17
Black                                     2010      2418      2418
                                          2011      2683      2683
                                          2012      2566      2566
                                          2013      2770      2770
                                          2014      2871      2871
                                          2015      2647      2647
                                          2016      3092      3092
                                          2017      3542      3542
Native Hawaiian Or Other Pacific Islander 2016         3         3
                                          2017         8         8
Unknown                                   2010       380       380
                                          2011       473       473
                                          2012       395       395
                                          2013       339       339
                                          2014       364       364
                                          2015       324       324
                                          2016       211       211
                                          2017       201       201
White                                     2010       130       130
                                          2011       145       145
                                          2012       165       165
                                          2013       168       168
                                          2014       179       179
                                          2015       147       147
                                          2016       325       325
                                          2017       397       397

                                               subject_sex subject_ethnicity  \
                                                     count             count
subject_race                              year
American Indian Or Alaska Native          2010           1                 1
                                          2011           1                 1
                                          2012           6                 6
                                          2015           2                 2
                                          2016           2                 2
                                          2017           1                 1
Asian                                     2010          16                16
                                          2011          10                10
                                          2012           7                 7
                                          2013           8                 8
                                          2014          13                13
                                          2015           9                 9
                                          2016          17                17
                                          2017          17                17
Black                                     2010        2418              2418
                                          2011        2683              2683
                                          2012        2566              2566
                                          2013        2770              2770
                                          2014        2871              2871
                                          2015        2647              2647
                                          2016        3092              3092
                                          2017        3542              3542
Native Hawaiian Or Other Pacific Islander 2016           3                 3
                                          2017           8                 8
Unknown                                   2010         380               380
                                          2011         473               473
                                          2012         395               395
                                          2013         339               339
                                          2014         364               364
                                          2015         324               324
                                          2016         211               211
                                          2017         201               201
White                                     2010         130               130
                                          2011         145               145
                                          2012         165               165
                                          2013         168               168
                                          2014         179               179
                                          2015         147               147
                                          2016         325               325
                                          2017         397               397

                                               block_address district   psa  \
                                                       count    count count
subject_race                              year
American Indian Or Alaska Native          2010             1        1     1
                                          2011             1        1     1
                                          2012             6        6     6
                                          2015             2        2     2
                                          2016             2        2     2
                                          2017             1        1     1
Asian                                     2010            16       15    15
                                          2011            10       10    10
                                          2012             7        7     7
                                          2013             8        8     8
                                          2014            13       13    13
                                          2015             9        9     9
                                          2016            17       17    17
                                          2017            17       17    17
Black                                     2010          2417     2382  2378
                                          2011          2681     2641  2633
                                          2012          2563     2534  2524
                                          2013          2769     2734  2728
                                          2014          2871     2827  2820
                                          2015          2646     2585  2584
                                          2016          3091     3091  3091
                                          2017          3542     3542  3542
Native Hawaiian Or Other Pacific Islander 2016             3        3     3
                                          2017             8        8     8
Unknown                                   2010           379      378   376
                                          2011           473      458   455
                                          2012           394      390   390
                                          2013           339      334   334
                                          2014           364      359   355
                                          2015           324      314   314
                                          2016           211      211   211
                                          2017           201      201   201
White                                     2010           130      123   123
                                          2011           145      141   141
                                          2012           164      162   162
                                          2013           168      166   166
                                          2014           179      175   175
                                          2015           147      146   146
                                          2016           325      325   325
                                          2017           397      397   397

                                                 age
                                               count
subject_race                              year
American Indian Or Alaska Native          2010     1
                                          2011     0
                                          2012     5
                                          2015     2
                                          2016     2
                                          2017     1
Asian                                     2010    16
                                          2011    10
                                          2012     4
                                          2013     8
                                          2014    10
                                          2015     9
                                          2016    17
                                          2017    17
Black                                     2010  2315
                                          2011  2550
                                          2012  2418
                                          2013  2609
                                          2014  2743
                                          2015  2505
                                          2016  2998
                                          2017  3542
Native Hawaiian Or Other Pacific Islander 2016     2
                                          2017     8
Unknown                                   2010   160
                                          2011   152
                                          2012   155
                                          2013   146
                                          2014   166
                                          2015   157
                                          2016   176
                                          2017   201
White                                     2010   118
                                          2011   138
                                          2012   148
                                          2013   149
                                          2014   161
                                          2015   135
                                          2016   311
                                          2017   397

In [59]:
counts = df_dc2['subject_race'].append(df_dc2.loc[df_dc2['subject_race'] != df_dc2['year'], 'year']).value_counts()
counts

Black                                        22589
2017                                          4234
2016                                          3742
2014                                          3480
2011                                          3375
2013                                          3339
2012                                          3202
2015                                          3197
2010                                          2990
Unknown                                       2687
White                                         1656
Asian                                           97
American Indian Or Alaska Native                13
Native Hawaiian Or Other Pacific Islander       11
dtype: int64

In [34]:
df_dc.groupby(['subject_race']).count()

,incident_type,city,state,date_time,year,data type,subject_sex,subject_ethnicity,block_address,district,psa,age
subject_race,,,,,,,,,,,,
American Indian Or Alaska Native,13,13,13,13,13,13,13,13,13,13,13,11
Asian,97,97,97,97,97,97,97,97,97,96,96,91
Black,22589,22589,22589,22589,22589,22589,22589,22589,22580,22336,22300,21680
Native Hawaiian Or Other Pacific Islander,11,11,11,11,11,11,11,11,11,11,11,10
Unknown,2687,2687,2687,2687,2687,2687,2687,2687,2685,2645,2636,1313
White,1656,1656,1656,1656,1656,1656,1656,1656,1655,1635,1635,1557